body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}


.predict-container  {
    color: #333;
    font-size: 50px;
}

input[type="file"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-preview {
    width: 300px;
    margin: 0 auto;
}

#uploadInput {
    width: 500px; 
    padding: 15px; 
    border: 5px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box; 
    font-size: 30px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 15px 25px;
    font-size: 30px;
    width: 180px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#predictButton:hover {
    background-color: rgb(14, 14, 241); 
}

#imagePreview {
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px; 
    text-align: center;
    box-sizing: border-box;
}

.result-info {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Additional styling for individual h2 elements if needed */
.result-info h2 {
    font-size: 45px;
    margin: 0;
}
.result-info h2 + h2 {
    margin-left: 150px; /* Adjust the space between the two h2 elements */
}


.treatment-box {
    border: 1px solid hsl(0, 91%, 45%);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.treatment-box h2 {
    font-size: 45px; /* Increased font size for "Treatment" */
    margin-bottom: 10px; /* Optional: Add space below the "Treatment" heading */
}

.treatment-box .treatment-text {
    font-size: 30px; /* Increased font size for the text below "Treatment" */
   
}
